* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 50px;
}

ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.section {
  padding: 20px;
}

header {
  background-color: #4caf50;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#stats {
  display: flex;
  justify-content: space-around;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.stat {
  min-width: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

footer {
  display: flex;
  align-items: center;
  background-color: red;
  color: white;
}
