* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(135, 206, 235,);
    background-color: skyblue;
    background-color: skyblue;
}

h1 {
    color: green;
}

p {
    color: red;
}

.about {
    font-size: 10px;
    color: blue;
}

#job {
    font-size: 30px;
    color: green;
    background-color: rgba(0, 0, 0, 0.6);
}

#teach {
    font-size: 20px;
}