.cards {
  height: fit-content;
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: center;
  border: 2px solid black;
  padding: 10px;
}

.card {
  height: 40px;
  background-color: lightblue;
  padding: 20px;
  margin: 5px;
}
