body {
    min-height: 200vh;
    max-width: 100vw;
}

.cards {
    position: relative;
    background-color: lightgray;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 16px auto;
}

.position-static {
    position: static;
    background-color: #f0f4c3;
    top: 50px;
}

.position-relative {
    position: relative;
    background-color: #e0f7fa;
    /* top: 50px; */
    /* left: 20px; */
    right: 40px;
    bottom: 30px;
}

.position-absolute {
    position: absolute;
    background-color: #ffe0b2;
    top: 0px;
    /* bottom: 0px; */
}

.position-fixed {
    position: fixed;
    background-color: #d1c4e9;
    top: 10px;
    right: 10px;
    z-index: 2;
}

/* make it stick to top */
.position-sticky {
    position: sticky;
    background-color: #c8e6c9;
    top: 0;
    margin-top: 200px;
    z-index: 999;
}

header {
    position: sticky;
    top: 0;
    background-color: #ffeb3b;
    padding: 10px;
    z-index: 1;
}